html {
  height: 100%;
  width: 100%;
}

.slider {
  width: 50%;
}

#square {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: #050505;
}

#floor {
  height: 50px;
  width: 5000px;
  position: absolute;
  background-color: #3b3b3b;
  left: 0px;
  top: 440px;
}

.projectile {
  height: 5px;
  width: 5px;
  position: absolute;
  background-color: #616161;
}

.artillery {
  height: 5px;
  width: 5px;
  position: absolute;
  background-color: #616161;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #dfdfdf;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.1s; /* 0.1 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}